body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Roboto, sans-serif;
  color: #fff;
}

/* Header */
header {
  background: linear-gradient(#02071f 60%, rgba(37, 20, 54, 0) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

a,
button {
  cursor: pointer;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  margin-inline: 10%;
  white-space: nowrap;
}

.app-home {
  font-family: Acme, sans-serif;
  font-size: 2.75rem;
}

.watchlist-icon {
  font-size: 1.75rem;
}

.watchlist-text {
  font-size: 1.45rem;
}

/* Main */
main {
  position: relative;
  top: 4.5rem;
}

/* Home View */
.form-home {
  margin: 35vh auto;
}

.search-container {
  display: flex;
  margin-inline: 0.75rem;
  border-radius: 1rem;
}

.search-container:focus-within {
  outline: 0.3rem solid #a9a9a9;
}

.search-input,
.search-button {
  background-color: #fff;
  height: 3rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
}

.search-input {
  width: 100%;
  padding-left: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

::placeholder {
  font-size: 1rem;
  color: #635e5e;
}

.search-button {
  padding-right: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Search Results View */
.search-message {
  font-size: 1.7rem;
  text-align: center;
}

.movie-cards-container {
  padding: 0;
}

.movie-card {
  list-style: none;
  margin-bottom: 1.75rem;
}

.movie-card-poster-container {
  justify-content: center;
}

.movie-card-poster {
  width: 60%;
  height: 24rem;
  object-fit: cover;
}

.movie-card-info-container {
  background-color: #2c2828;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 0.2rem 0.25rem 0;
  font-size: 1.15rem;
  white-space: nowrap;
}

.movie-card-info-icon,
.movie-card-info-text {
  margin-right: 0.25rem;
  cursor: pointer;
}

/* Movie Info View */
.info-card {
  width: 75%;
  margin: 0.75rem auto;
}

.info-card-poster-container,
.info-card-details-container {
  justify-content: center;
  background-color: #2c2828;
}

.info-card-poster {
  height: 32rem;
  object-fit: cover;
}

.info-card-details-container > * {
  margin: 0.5rem;
}

.info-card-details-title-year {
  font-size: 1.75rem;
  font-weight: 700;
}

.info-card-details-plot {
  color: #d3d3d3;
}

.info-card-details-director-names,
.info-card-details-cast-names {
  margin-left: 1rem;
  color: #6495ed;
}

.info-card-nav-container {
  justify-content: space-between;
  background-color: #2c2828;
}

.info-card-nav-container > * {
  background-color: rgb(19, 160, 19);
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-size: 2rem;
  color: #2c2828;
  border-radius: 0.75rem;
  cursor: pointer;
}
